<div>
    <table class="table table-bordered">
        <thead>
            <tr class="row">
                <th class="col-2">
                    Nome
                </th>
                <th class="col-4">
                    Ingredientes
                </th>
                <th class="col-2">
                    Valor
                </th>
                <th class="col-4" *ngIf="gerencia">
                    Opções
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sabor of sabores" class="row">
                <td class="col-2">
                    {{sabor.nome}}
                </td>
                <td class="col-4">
                    {{sabor.ingredientes}}
                </td>
                <td class="col-2">
                    {{sabor.valor}}
                </td>
                <td class="col-4" *ngIf="gerencia">
                    <input type="button" class="btn btn-warning" value="Gerenciar" (click)="gerenciar(sabor.id)" />
                </td>
            </tr>
        </tbody>
    </table>
</div>