.container-fluid{
  background-color: #3E88F6;

  display: flex;
  justify-content: space-between;
position: sticky;
  height: 10vh;

}

.logo{
  width: 17%;
  text-align: center;
}
.bi{
width: 3%;
  color: white;
  fill: white;
}
.bi:hover{
  color:blue;
}
.bi-cart3{
  fill: white;
  width: 3%;
}
.modal-body{
  width: 20vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.disbaled{
  display: none;
}
