.btn{
  font-family: kdammthmor, sans-serif;
  font-size: 1.1vw;

}
.btn-success{
  font-family: "Kaushan Script-Regular", sans-serif;
  background-color: #07d459;
  border: none;

}

.btn-success:hover{
  background-color: #198754;
  opacity: 1;
}
.form-check-label{
  font-family: kdammthmor, sans-serif;
  font-size: 1vw;
}

a{
  font-family: kdammthmor, sans-serif;
  font-size: 1vw;
  color: #3d87f6;
  margin-top: 20%;
  margin-bottom: 20%;
}

.form-switch{
  text-align: center;
}

.modal-header{
  font-family: "Londrina Solid-Regular", sans-serif;
}
.titulo{
  font-family: "Londrina Solid-Regular", sans-serif;
  font-size: 1.5vw;

}
