<div class="row">
    <input type="button" class="offset-2 col-3 btn btn-success" (click)="abrirModal(modal1)" value="Montar Pizza"/>
    <input type="button" class="offset-2 col-3 btn btn-success" (click)="abrirModal(modal2)" value="Adicionar Produto"/>
</div>
<div *ngIf="pizzaList.length > 0">
    <table class="table table-sm" *ngFor="let pizza of pizzaList">      
        <thead>
            <div class="d-flex justify-content-between">
                <h4>Pizza {{pizza.tipo.nome}} R$ {{pizza.valorPizza}}</h4>
                <div>
                    <input type="button" class="btn btn-danger" value="Remover" (click)="removePizza(pizza)" /> 
                </div>
            </div>
            <tr>
                <th>Sabores</th>
                <th>Tamanho</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a *ngFor="let sabor of pizza.sabor">{{sabor.nome}} </a>
                </td>
                <td>{{pizza.tipo.tamanho}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="produtoList.length > 0">
    <table class="table">      
        <thead>
            <h4>Produtos</h4>
            <tr>
                <th>Nome</th>
                <th>Valor</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let produto of produtoList">
                <td>{{produto.nome}}</td>
                <td>R$ {{produto.preco}}</td>
                <td>
                    <input type="button" class="btn btn-danger" value="Remover" (click)="removeProduto(produto)" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row d-flex align-items-end">
    <div class="offset-2 col-3">
        <input type="button" class="btn btn-danger" value="Cancelar" (click)="cancelar()" />
    </div>
    <div class="col-3 form-check form-switch">
        <input class="form-check-input" (change)="solicitarEntrega($event)" type="checkbox" id="solicitaEntrega">
        <label class="form-check-label" for="solicitaEntrega">Solicitar Entrega</label>
    </div>
    <div class="col-3 d-flex flex-column align-items-center">
        <a>Valor total: R${{valorTotal}}</a>
        <input *ngIf="entrega" (click)="finalizaPedido(modal3)" type="button" class="btn btn-primary" value="Proximo"/>
        <input *ngIf="!entrega" (click)="finalizaPedido(modal3)" type="button" class="btn btn-primary" value="Finalizar"/>
    </div>
</div>


<!-- Modal para Montar Pizza -->
<ng-template #modal1 let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Monte sua Pizza</h4>
    </div>
    <div class="modal-body">
       
        <app-pedidoselecionarpizza (retorno)="addPizza($event)"></app-pedidoselecionarpizza>
        
    </div>
</ng-template>



<!-- Modal para Adicionar Produtos -->
<ng-template #modal2 let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Escolha os Produtos</h4>
    </div>
    <div class="modal-body">
       
        <app-pedidoselecionarproduto (retorno)="addProduto($event)" ></app-pedidoselecionarproduto>
        
    </div>
</ng-template>

<!-- Modal para Adicionar Endereço-->

<ng-template #modal3 let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Preencha o Endereço</h4>
    </div>
    <div class="modal-body">
       
        <app-pedidopreencherendereco (retorno)="voltar($event)" [pedido]="pedido"></app-pedidopreencherendereco>
        
    </div>
</ng-template>