<h1>Seu Pedido</h1>
<div>
    <input type="button" class="btn btn-success" (click)="abrirModal(modal1)" value="Montar Pizza"/>
    <input type="button" class="btn btn-success" (click)="abrirModal(modal2)" value="Adicionar Produto"/>
</div>
<div *ngIf="pizzaList.length > 0">
    <table class="table" *ngFor="let pizza of pizzaList">      
        <thead>
            <h4>Pizza {{pizza.tipo.nome}} R$ {{pizza.valorPizza}}</h4>
            <input type="button" (click)="removePizza(pizza)" /> 
            <tr>
                <th>Sabores</th>
                <th>Tamanho</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a *ngFor="let sabor of pizza.sabor">{{sabor.nome}} </a>
                </td>
                <td>{{pizza.tipo.tamanho}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="produtoList.length > 0">
    <table class="table">      
        <thead>
            <h4>Produtos</h4>
            <tr>
                <th>Nome</th>
                <th>Valor</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let produto of produtoList">
                <td>{{produto.nome}}</td>
                <td>R$ {{produto.preco}}</td>
                <td>
                    <input type="button" (click)="removeProduto(produto)" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <input type="button" class="btn btn-danger" value="Cancelar"/>
    <div>
        <p>Valor total: R${{valorTotal}}</p>
        <input (click)="finalizaPedido(modal3)" type="button" class="btn btn-primary" value="Finalizar"/>
    </div>
</div>


<!-- Modal para Montar Pizza -->
<ng-template #modal1 let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
       
        <app-pedidoselecionarpizza (retorno)="addPizza($event)"></app-pedidoselecionarpizza>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>



<!-- Modal para Adicionar Produtos -->
<ng-template #modal2 let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
       
        <app-pedidoselecionarproduto (retorno)="addProduto($event)" ></app-pedidoselecionarproduto>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>

<!-- Modal para Adicionar Endereço-->

<ng-template #modal3 let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
       
        <app-pedidopreencherendereco [pedido]="pedido"></app-pedidopreencherendereco>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>