
<div class="row d-flex align-items-end">
    <div class="offset-3 col-3"> 
        <p class="p-b" [ngClass]="{'selecionado' : (selecionado)}" (click)="escolher(true)">Escolher</p>
    </div>
    <div class="col-3">
        <p class="p-b" [ngClass]="{'selecionado' : (!selecionado)}" (click)="escolher(false)">Cadastrar</p>
    </div>
</div>

<div *ngIf="opcao" class="row d-flex justify-content-center">
    <div class="col-5 form-group">
        <div *ngIf="erro" class="alert alert-danger" role="alert">
            {{ mensagem }}
        </div>
        <label for="cpf">Informe o CPF</label>
        <input type="text" class="form-control" id="cpf" [(ngModel)]="cpf">
    </div>
    <div class="row d-flex align-items-end">
        <div class="offset-3 col-3">
            <input type="button" class="btn btn-success" value="Buscar" (click)="buscar()" />
        </div>
    </div>
</div>

<div *ngIf="!opcao" class="row d-flex justify-content-center">
    <div class="col-5 form-group">
        <label for="nome">Nome</label>
        <input [disabled]="selecionado" type="text" class="form-control" id="nome" [(ngModel)]="cliente.nome">
    </div>
    <div class="col-5 form-group">
        <label for="cpfCliente">CPF</label>
        <input [disabled]="selecionado" type="text" class="form-control" id="cpfCliente" [(ngModel)]="cliente.cpf">
    </div>
    <div class="col-5 form-group">
        <label for="telefone">Telefone</label>
        <input [disabled]="selecionado" type="text" class="form-control" id="telefone" [(ngModel)]="cliente.telCelular">
    </div>
</div>

<div class="row d-flex align-items-end">
    <div class="offset-3 col-3">
        <input type="button" class="btn btn-danger" value="Voltar" (click)="voltar()" />
    </div>
    <div class="col-3"> 
        <input  *ngIf="selecionado" (click)="finalizar()" type="button" class="btn btn-success" value="Selecionar"/>
        <input  *ngIf="!selecionado" (click)="finalizar()" type="button" class="btn btn-success" value="Cadastrar"/>
    </div>
</div>

