body{
    background-color: #3d87f6;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff;
}


#login-row #form-login{
    width: 40vw;
    flex-direction: column;
    align-items: center;
}

.container{
    width: 50vw;
}

.element-photoroom{
    width: 10vw;
}

h1{
    top: 0;
    left: 0;
    font-family: "Kaushan Script", sans-serif ;
    font-weight: 400;
    color: #ffffff;
    font-size: 4vw;
}

.text-center{
  font-family: "Kaushan Script-Regular", sans-serif;
}

.btn{
  font-family: kdammthmor, sans-serif;
  font-size: 1.1vw;
  width: 8vw;
  border-radius: 8px;
  box-shadow: #6c757d 0px 2px 10px 1px;

}

.btn-custom {
    color: black;

    top: 0;
    left: 0;
    background-color: #fafcff;
}
.form-control{
  font-family: kdammthmor, sans-serif;
    font-size: 1vw;
    width: 22vw;
    border-radius: 8px;
    box-shadow: #6c757d 0px 2px 10px 1px;
}

