<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Pedido Nº
                </th>
                <th>
                    Cliente
                </th>
                <th>
                    Endereço
                </th>
                <th>
                    Data do Pedido
                </th>
                <th>
                    Status
                </th>
                <th>
                    Valor Total
                </th>
                <th>
                    Opções
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pedido of pedidos">    
                <td>
                    {{pedido.id}}
                </td>
                <td>
                    {{pedido.cliente.nome}}
                </td>
                <td>
                    {{pedido.endereco.rua}}, {{pedido.endereco.nuEndereco}} - {{pedido.endereco.bairro}}
                </td>
                <td>
                    {{pedido.dataPedido}}
                </td>
                <td>
                    <a *ngIf="pedido.situacaoPedido == 'AConfirmar'">A Confirmar</a>
                    <a *ngIf="pedido.situacaoPedido == 'EmAndamento'">Em Andamento</a>
                    <a *ngIf="pedido.situacaoPedido == 'Finalizado'">Finalizado</a>
                    <a *ngIf="pedido.situacaoPedido == 'Recusado'">Recusado</a>
                </td>
                <td>
                    R$ {{pedido.valorTotal}}
                </td>
                <td>
                    <input *ngIf="!(pedido.situacaoPedido == 'Recusado')" type="button" class="btn btn-warning" value="Gerenciar" (click)="gerenciar(pedido.id)"/>
                    <input *ngIf="pedido.situacaoPedido == 'Recusado'" type="button" class="btn btn-secondary" value="Visualizar" (click)="gerenciar(pedido.id)"/>
                </td>
            </tr>
        </tbody>
    </table>
</div>