<div class="container-fluid ajuste">



  <img src="../../../../../assets/admin%20header.png" alt="logo" class="logo">

  <h6>Usuário: Admin</h6>
  <div class="organiza_botoes">
    <button type="button" class="btn btn-primary success" >Gerenciar Pedidos</button>
    <button type="button" class="btn btn-primary" >Sabores</button>
    <button type="button" class="btn btn-primary" >Outros Produtos</button>
    <button type="button" class="btn btn-primary" routerLink="/admin/tipoDePizza">Tipos de pizza</button>
    <button type="button" class="btn btn-primary" routerLink="/admin/">Funcionários</button>
  </div>


</div >



