
<section class="organiza_itens">

<table class="table table-hover">

<thead>
<button type="button" class="btn btn-primary success" (click)="cadastrar(content)">Cadastrar novo</button>
    <tr>
      <th scope="col">Cod.</th>
      <th scope="col">Nome</th>
      <th scope="col">Tamanho</th>
      <th scope="col">Valor</th>
      <th scope="col">Qtdde. Sabores</th>
      <th scope="col">Ações</th>
    </tr>
</thead>
  <tbody>
    <tr class="" *ngFor="let valor of lista">
      <td>{{valor.id}}</td>
      <td>{{valor.nome}}</td>
      <td>{{valor.tamanho}}</td>
      <td>{{valor.valor | currency:'BRL':'symbol':'1.2-2'}}</td>
      <td>{{valor.qntSabores}}</td>
      <td>
        <button type="button" class="btn btn-primary accion" (click)="editar(content, valor)">Editar</button>
        <button type="button" class="btn btn-danger accion" (click)="excluir(content, valor)">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
</section>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="opcaoBotao =='Editar'">Editar</h4>
    <h4 class="modal-title" *ngIf="opcaoBotao == 'Cadastrar'">Cadastrar</h4>
    <h4 class="modal-title" *ngIf="opcaoBotao == 'Excluir'">Excluir</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
<app-gerenciatipo (retorno)="listar()" [objetoEnviado]="objeto" [opcaoBotao]="opcaoBotao" ></app-gerenciatipo>
  </div>

</ng-template>
