<h1>Escolha os Produtos</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Tipo</th>
            <th>Valor</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let obj of produtosQnt">
            <td>{{obj.produto.nome}}</td>
            <td>{{obj.produto.tipo}}</td>
            <td>R$ {{obj.produto.preco}}</td>
            <td class="d-flex justify-content-center align-items-center">
                <input class="" type="button" value="-" (click)="removerProduto(obj)"/>
                <p class="p-margin">{{obj.quantidade}}</p>
                <input class="" type="button" value="+" (click)="adicionarProduto(obj)"/>
            </td>
        </tr>
    </tbody>
</table>

<div>
    <input type="button" class="btn btn-danger" value="Cancelar"/>
    <div>
        <p>Valor dos Produtos: R${{valorProdutos}}</p>
        <input (click)="adicionar()" type="button" class="btn btn-success" value="Adicionar"/>
    </div>
</div>