<h1>Escolha os Produtos</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Tipo</th>
            <th>Valor</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let produto of produtos">
            <td>{{produto.nome}}</td>
            <td>{{produto.tipo}}</td>
            <td>{{produto.preco}}</td>
            <td>
                <input class="" type="number"/>
            </td>
        </tr>
    </tbody>
</table>

<div>
    <input type="button" class="btn btn-danger" value="Cancelar"/>
    <div>
        <p>Valor dos Produtos: R${{valorProdutos}}</p>
        <input (click)="adicionar()" type="button" class="btn btn-success" value="Adicionar"/>
    </div>
</div>