<div *ngIf="erro" class="alert alert-danger" role="alert">
    {{ mensagem }}
</div>
<div *ngIf="sucesso" class="alert alert-success" role="alert">
    {{ mensagem }}
</div>

<div class="row d-flex justify-content-center">
    <div class="col-5 form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" [(ngModel)]="tipo.nome">
    </div>
    <div class="col-5 form-group">
        <label for="tamanho">Tamanho</label>
        <input type="text" class="form-control" id="tamanho" [(ngModel)]="tipo.tamanho">
    </div>
    <div class="col-5 form-group">
        <label for="valor">Valor</label>
        <input type="number" class="form-control" id="valor" [(ngModel)]="tipo.valor">
    </div>
    <div class="col-5 form-group">
        <label for="qntSabores">Quantidade de sabores</label>
        <input type="text" class="form-control" id="qntSabores" [(ngModel)]="tipo.qntSabores">
    </div>
</div>

<div class="row">
    <div class="offset-3 col-3">
        <input type="button" class="btn btn-secondary" value="Voltar" (click)="voltar()" />
    </div>
    <div class="col-3">
        <input *ngIf="edicao" class="btn btn-warning" value="Editar" (click)="editar()"/>
        <input *ngIf="!edicao" class="btn btn-success" value="Cadastrar" (click)="cadastrar()" />
    </div>
</div>