<section class="row">
    <div class="row offset-2 col-8">
        <div class="offset-2 col-1">
            <p (click)="selecionar('todos')" [ngClass]="{'selecionado' : (selecionado == 'todos')}" class="p-b">Todos</p>
        </div>
        <div class="col-2">
            <p (click)="selecionar('confirmar')" [ngClass]="{'selecionado' : (selecionado == 'confirmar')}" class="p-b">Em Espera</p>
        </div>
        <div class="col-2">
            <p (click)="selecionar('andamento')" [ngClass]="{'selecionado' : (selecionado == 'andamento')}" class="p-b">Em Andamento</p>
        </div>
        <div class="col-2">
            <p (click)="selecionar('finalizado')" [ngClass]="{'selecionado' : (selecionado == 'finalizado')}" class="p-b">Finalizados</p>
        </div>
        <div class="col-3">
            <input (click)="abrir(modal1)" type="button" class="btn btn-success" value="Adicionar Pedido" />
        </div>
    </div>

    <div class="offset-2 col-8" *ngIf="selecionado == 'confirmar'">
        
        <app-exibepedido [situacao]="'AConfirmar'"></app-exibepedido>
        
    </div>

    <div class="offset-2 col-8" *ngIf="selecionado == 'andamento'">

        <app-exibepedido [situacao]="'EmAndamento'"></app-exibepedido>

    </div>

    <div class="offset-2 col-8" *ngIf="selecionado == 'finalizado'">

        <app-exibepedido [situacao]="'Finalizado'"></app-exibepedido>

    </div>
    
    <div class="offset-2 col-8" *ngIf="selecionado == 'todos'">

        <app-exibepedido [situacao]="'Todos'"></app-exibepedido>

    </div>
</section>

<ng-template #modal1 let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Cliente</h4>
    </div>
    <div class="modal-body">
       
        <app-clientecriar (retorno)="fechar($event)"></app-clientecriar>
        
    </div>
</ng-template>

<ng-template #modal2 let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Seu Pedido</h4>
    </div>
    <div class="modal-body">
       
        <app-pedidocriar [cliente]="cliente" (retorno)="fechar($event)"></app-pedidocriar>
    </div>
</ng-template>