<div class="row">
    <div class="col-3">
        <p (click)="selecionar('confirmar')" [ngClass]="{'selecionado' : (selecionado == 'confirmar')}" class="p-b">Pedidos em Espera</p>
    </div>
    <div class="col-3">
        <p (click)="selecionar('andamento')" [ngClass]="{'selecionado' : (selecionado == 'andamento')}" class="p-b">Pedidos em Andamento</p>
    </div>
    <div class="col-3">
        <p (click)="selecionar('finalizado')" [ngClass]="{'selecionado' : (selecionado == 'finalizado')}" class="p-b">Pedidos Finalizados</p>
    </div>
    <div class="col-3">
        <input type="button" class="btn btn-success" value="Adicionar Pedido" />
    </div>
</div>

<div *ngIf="selecionado == 'confirmar'">
    
    <app-exibepedido [situacao]="'AConfirmar'"></app-exibepedido>
    
</div>

<div *ngIf="selecionado == 'andamento'">
    
    <app-exibepedido [situacao]="'EmAndamento'"></app-exibepedido>

</div>

<div *ngIf="selecionado == 'finalizado'">

    <app-exibepedido [situacao]="'Finalizado'"></app-exibepedido>

    
</div>