<div class="image">
    <img class="element-photoroom" src="../../../assets/imgBannerMenu.png" alt="nice Pizzas">
</div>

<div class="container">
    <div class="d-flex justify-content-around">
       
        <div class="row text-center mt-5">
            <button type="button" class="btn btn-primary custom-btn d-flex row align-items-center" (click)="abrir(modal1)">
                <h3>Fazer Pedido</h3>
                <img src="../../../..//../assets/pedido5.png" height="150" >
            </button>

        </div>
       
       
    </div>
</div>





<ng-template #modal1 let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
       
        <app-pedidocriar></app-pedidocriar>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>