

.custom-btn{
    height: 60vh;
    width: 20vw;
    background-color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    color: black;
    box-shadow: 4px 4px 5px 4px rgba(0, 0, 0, 0.5);
}

.custom-btn:hover{
    background-color: #3d87f6;

}

.titulo {
    font-weight: bold;
  font-family: "Londrina Solid",  serif;
}

.modal-title{
  font-family: "Londrina Solid",  serif;
  font-size: 2vw;
}

.container{
    margin-bottom: 100px;
}

.element-photoroom{
  width: 100vw;
}

h4{
  font-family: "Londrina Solid-Regular", sans-serif;
  font-size: 1.5vw;
}
