<div class="image">
    <img class="element-photoroom" src="../../../assets/imgBannerMenu.png" alt="nice Pizzas">
</div>

<div class="container">
    <div class="d-flex justify-content-around">
        <div class="row text-center mt-5">
            <button class="btn btn-primary custom-btn d-flex row align-items-center">
                <h3 >Pizzas</h3>
                <img src="../../../../../assets/imgMenuPizza.png" alt="Minha Imagem"  height="150"> 
            </button>
        </div>
        <div class="row text-center mt-5">
            <button class="btn btn-primary custom-btn d-flex row align-items-center">
                <h3 >Bebidas</h3>
                <img src="../../../../../assets/imgMenuBebida.png" alt="Minha Imagem" height="150"  > 
            </button>
        </div>
        <div class="row text-center mt-5">
            <button class="btn btn-primary custom-btn d-flex row align-items-center">
                <h3 >Outros Produtos</h3>
                <img src="../../../../../assets/imgMenuOutros.png" alt="Minha Imagem"  height="150"> 
            </button>
        </div>
    </div>
</div>